version: v1beta11
vars:
  - name: SHOPWARE_VERSION
    source: env
    default: "6.4.11.1"
  - name: PHP_VERSION
    source: env
    default: "8.1"
  - name: IMAGE_VERSION
    source: env
    default: "alpine3.15"

images:
  app-server:
    image: kiweeteam/shopware-demo
    injectRestartHelper: true
    dockerfile: ./docker/Dockerfile
    context: ./docker/
    build:
      docker:
        options:
          target: web
          buildArgs:
            SHOPWARE_VERSION: ${SHOPWARE_VERSION}
            IMAGE_VERSION: ${IMAGE_VERSION}
            PHP_VERSION: ${PHP_VERSION}
        # recommended skipPush=true for a local cluster, but must be false for a remote one.
        skipPush: true
        preferMinikube: true
  job-scheduler:
    image: kiweeteam/shopware-demo-js
    injectRestartHelper: true
    dockerfile: ./docker/Dockerfile
    context: ./docker/
    build:
      docker:
        options:
          target: job-scheduler
          buildArgs:
            SHOPWARE_VERSION: ${SHOPWARE_VERSION}
            IMAGE_VERSION: ${IMAGE_VERSION}
            PHP_VERSION: ${PHP_VERSION}
        # recommended skipPush=true for a local cluster, but must be false for a remote one.
        skipPush: true
        preferMinikube: true
  message-consumer:
    image: kiweeteam/shopware-demo-mc
    injectRestartHelper: true
    dockerfile: ./docker/Dockerfile
    context: ./docker/
    build:
      docker:
        options:
          target: message-consumer
          buildArgs:
            SHOPWARE_VERSION: ${SHOPWARE_VERSION}
            IMAGE_VERSION: ${IMAGE_VERSION}
            PHP_VERSION: ${PHP_VERSION}
        # recommended skipPush=true for a local cluster, but must be false for a remote one.
        skipPush: true
        preferMinikube: true
deployments:
  - name: shopware6-dev
    namespace: development
    kubectl:
      kustomize: true
      manifests:
        - kubernetes/
dev:
  sync:
    - labelSelector:
        k8s-app: shopware
      excludePaths:
        - .gitignore
        - .gitkeep
        - .git
      initialSync: preferLocal
      localSubPath: ./docker/shopware/custom/plugins
      containerPath: /app/custom/plugins
      namespace: development
      onUpload:
        restartContainer: false
    - labelSelector:
        app: app-server
      initialSync: preferLocal
      localSubPath: ./docker/shopware/platform
      containerPath: /app/
      excludePaths:
        - var/*
        - install.lock
        - Dockerfile
        - .git*
        - files/*
        - public/media*
        - public/thumbnail*
        - public/recovery*
      namespace: development
      onUpload:
        restartContainer: false
  ports:
    - labelSelector:
        app: app-server
      reverseForward:
        - port: 9003
          remotePort: 9003
      forward:
        - port: 8000
          remotePort: 8000
        - port: 8080
          remotePort: 8080
        - port: 9998
          remotePort: 9998
        - port: 9999
          remotePort: 9999
    - labelSelector:
        app: adminer
      forward:
        - port: 8081
          remotePort: 8080
    - labelSelector:
        app: mailhog
      forward:
        - port: 8025
          remotePort: 8025
  logs:
    showLast: 100
    sync: true
    selectors:
      - labelSelector:
          k8s-app: shopware
